*{
    background-color: black;
    color: beige;
}

main{
    width: 100%;
    height: auto;

    padding-top: 250px;
}


main ul{  
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
}